<h2>New game</h2>

<% @letters.each do |letter| %>
  <p><%= letter %></p>
<% end %>

<form action="score" method="POST">
  <input type="text" name="word">
  <input type="submit" value="Confirm">
</form>
